@model List<KategoriGetModel>
@{
    Layout = "_AdminLayout";
}

<div class="row">
    <div class="col">
        <div class="shadow" id="KategoriTableSettings">
            <div class=" py-1 d-flex justify-content-between align-items-center" >
                <h5 class="card-title p-2">Kategoriler</h5>
                <a asp-controller="Kategori" asp-action="Create" class="btn btn-sm btn-primary m-2">
                    <i class="fa-solid fa-plus"></i>
                </a>
            </div>
                <div class="table-responsive">
                    <table class="table table-striped mb-0">
                        <thead class="table-secondary">
                            <tr>
                                <th class="text-center">Id</th>
                                <th class="text-center">Kategori Adı</th>
                                <th class="text-center">Url</th>
                                <th class="text-center">Ürün Sayısı</th>
                                <th style="width: 120px;">Düzenlemeler</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var kat in Model)
                            {
                                <tr>
                                    <td class="text-center">@kat.Id</td>
                                    <td class="text-center">@kat.KategoriAdi</td>
                                    <td class="text-center">@kat.Url</td>
                                    <td class="text-center">@kat.UrunSayisi</td>
                                    <td>
                                        <a asp-controller="Kategori" asp-action="Edit" asp-route-id="@kat.Id" class="btn btn-primary btn-sm">
                                            <i class="fa-solid fa-pen-to-square"></i>
                                        </a>
                                        <a asp-controller="Urun" asp-action="Index" asp-route-kategori="@kat.Id" class="btn btn-primary btn-sm">
                                            <i class="fa-solid fa-right-long"></i>
                                        </a>
                                        @if(kat.UrunSayisi == 0) {
                                            <a asp-controller="Kategori" asp-action="Delete" asp-route-id="@kat.Id" class="btn btn-danger btn-sm">
                                                <i class="fa-solid fa-xmark"></i>
                                            </a>
                                        }
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
        </div>
    </div>
</div>